* {
  padding: none;
  border: none;
  margin: none;
}

body,
html {
  font-family: Lato;
  width: 100%;
} 

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.pris-chart-container {
  margin: 0 0 30px;
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  max-width: 100%;
}

.pris-chart {
  border: 1px solid #e3e3e3;
  border-radius: 2px;
}

svg.pris-chart {
  overflow-y: hidden;
  max-width: 100%;
}

.pris-pie-section {
  transform: scale(0.95);
}

.pris-pie-section:hover {
  transform: scale(1);
  transition: transform 0.2s;
}


.pris-bar-section {
  pointer-events: none;
  -webkit-transition: height 0.8s cubic-bezier(.31,.56,.54,1.21), transform 0.8s cubic-bezier(.31,.56,.54,1.21), fill .4s ease;
  transition: height 0.8s cubic-bezier(.31,.56,.54,1.21), transform 0.8s cubic-bezier(.31,.56,.54,1.21), fill .4s ease;
}

.pris-bar {
  position: relative;
  fill: #FF4C92;
  -webkit-transition: height 0.8s cubic-bezier(.31,.56,.54,1.21), transform 0.8s cubic-bezier(.31,.56,.54,1.21), fill .4s ease;
  transition: height 0.8s cubic-bezier(.31,.56,.54,1.21), transform 0.8s cubic-bezier(.31,.56,.54,1.21), fill .4s ease;
}

.pris-bar:hover {
  fill: #E632E8;
  transform: scale(1.1);
}

.pris-bar::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  line-height: 15px;
  width: 100%;
  text-align: center;
}

.pris-axis path,
.pris-axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.pris-axis text {
  font: 10px lato;
}

.x.pris-axis .domain {
  display: none;
}

.x.pris-axis text {
  font: 12px lato;
}

.pris-chart-container .button {
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  outline: none;
  background: #fff;
  line-height: 20px;
  cursor: pointer;
  z-index: 2;
}

.pris-chart-container .pris-button-set {
  float: right;
  margin: 0 0 0 10px;
}

.pris-chart-container .select {
  width: 120px;
  float: none;
  display: block;
  margin: 0 0 5px;
}

.pris-chart-container .button.active {
  background: #FF4C92;
  color: #fff;
}

.pris-chart-container .toggle {
  position: absolute;
  width: 120px;
  right: -100px;
  top: 20px;
}

.pris-chart-container .button:active {
  transform: translateY(1px);
}

.pris-chart-header {
  height: 25px;
  line-height: 25px;
  margin: 0 0 10px;
}

.pris-tt {
  position: absolute;
  box-sizing: border-box;
  z-index: 10;
  min-width: 140px;
  top: 35px;
  left: 0;
}

.pris-tt .pris-tt-head {
  background: #777;
  font-size: 13px;
  line-height: 20px;
  height: 20px;
  display: block;
  width: 100%;
  clear: both;
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
  box-sizing: border-box;
  opacity: 0.9;
}

.pris-tt .pris-tt-row {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  border: 1px solid #777;
  border-top: none;
  padding: 2px;
  opacity: 0.9;
  position: relative;
}

.pris-tt .pris-tt-label {
  width: 80%;
  float: left;
  padding: 0 5px 0 20px;
  border-right: 1px dashed #666;
  box-sizing: border-box;
}

.pris-tt .pris-tt-swatch {
  content: '';
  position: absolute;
  top: 6px;
  left: 5px;
  width: 10px;
  height: 10px;
}

.pris-tt .pris-tt-value {
  width: 20%;
  float: left;
  text-align: right;
  padding: 0 5px;
  box-sizing: border-box;
}

.data-node {
  pointer-events: all;
}

